.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #2e2f42;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
}

.login-form input{
border: 1px solid var(--border-color);
border-radius: 4px;
width: 360px;
height: 40px;
}

.login-form button {
margin-top: 16px;
border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
background-color:  #4e75ff;
border: none;
color: white;
font-weight: 500;
font-size: 16px;
}
